<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
   
    
        <section class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <form action="<%= edit ? '/update/package' : '/add/package' %>" method="POST"
                
                            class="needs-validation" novalidate="">
                            <div class="card">
                                <div class="card-header">
                                    <h4><%= edit ? 'Update Package' : 'Add New Package' %></h4>
                                   
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name">Package Name</label>
                                        <input id="name" type="text" class="form-control" name="name" tabindex="1"
                                        value="<%= edit ? package.name : '' %>" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in plan name
                                        </div>
                                    </div>
                                    <% if(edit) { %>
                                        <input type="hidden" name="id" value="<%=package.id %>">
                                    <% } %>
                                
                                    
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input id="interest" type="text" class="form-control" name="price" tabindex="1"
                                        value="<%= edit ? package.price : '' %>" required autofocus>
                                        <div class="invalid-feedback">
                                            Please enter price
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="harsh_power">Harsh Power</label>
                                        <input id="harsh_power" type="text" class="form-control" name="harsh_power" tabindex="1"
                                        value="<%= edit ? package.harsh_power : '' %>" required autofocus>
                                        <div class="invalid-feedback">
                                            Please enter harsh power
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="dailyEarning">Daily Earning</label>
                                        <input id="dailyEarning" type="text" class="form-control" name="dailyEarning" tabindex="1"
                                        value="<%= edit ? package.dailyEarning : '' %>" required autofocus>
                                        <div class="invalid-feedback">
                                            Please enter package daily earning
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="duration">Duration(Days)</label>
                                        <input id="duration" type="text" class="form-control" name="duration" tabindex="1"
                                        value="<%= edit ? package.duration : '' %>"required autofocus>
                                        <div class="invalid-feedback">
                                            Please enter package duration
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="duration">Withdrawal</label>
                                        <input id="withdrawal" type="text" class="form-control" name="withdrawal" tabindex="1"
                                        value="<%= edit ? package.withdrawal : '' %>"required autofocus>
                                        <div class="invalid-feedback">
                                            Please enter package withdrawal rate
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button class="btn btn-primary mr-1"
                                    type="submit"><%= edit ? 'Update' : 'Add Package' %></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
<%- include("../partials/footer") %>