<!-- header -->
<%- include("../partials/header_admin") %> <%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
  <%- include("../partials/alerts") %>
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Active Users</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Total Balance</th>
                      <th>Available Balance</th>
                      <th>Ledger Balance</th>
                      <th>Date Registered</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < users.length; i++ ) { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= users[i].name %></td>
                      <td><%= users[i].email %></td>
                      <td>$<%= users[i].wallet%>.00</td>
                      <td>$<%= users[i].revenue %>.00</td>
                      <td>$<%= users[i].referral_amount %>.00</td>
                      <td><%= moment(users[i].createdAt).format('DD-MM-YYYY') %></td>
                      <td>
                        <a
                        href="/edit/user/<%= users[i].id %>"
                        class="btn btn-primary btn-pill"
                        >Edit</a
                      >
                      <a
                          href="javascript:void(0);"
                          class="btn btn-danger btn-pill mb-2"
                          onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();"
                          style="color: aliceblue"
                        >
                          Delete
                        </a>
                

                        
                        <form
                          id="delete-menu"
                          action="/delete/user"
                          method="POST"
                          style="display: none"
                        >
                          <input
                            type="hidden"
                            name="id"
                            value="<%= users[i].id %>"
                          />
                        </form>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include("../partials/footer2") %>
