<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Referrals</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>User Name</th>
                                            <th>User Email</th>
                                            <th>Referral Name</th>
                                            <th>Referral Email</th>
                                            <th>Date Registered</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < referrals.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= referrals[i].user ? referrals[i].user.name : '' %></td>
                                            <td><%= referrals[i].user  ? referrals[i].user.email : '' %></td>
                                            <td><%= referrals[i].referrals ? referrals[i].referrals.name : '' %></td>
                                            <td><%= referrals[i].referrals ? referrals[i].referrals.email : '' %></td>
                                            <td><%= referrals[i].createdAt %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer") %>