<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>


<!-- Main Content -->

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Investment Plans</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Plan</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Daily Earning</th>
                                            <th>Harsh Power</th>
                                            <th>Duration</th>
                                            <th>Withdrawal</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < packages.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= packages[i].name %></td>
                                            <td><%= packages[i].description %></td>
                                            <td>$<%= packages[i].price %></td>
                                            <td>$<%= packages[i].dailyEarning%></td>
                                            <td><%= packages[i].harsh_power%>Mh/S</td>
                                            <td><%= packages[i].duration %>months</td>
                                            <td><%= packages[i].withdrawal %></td>

                                            <td>
                                                <a href="/edit/package/<%= packages[i].id %>"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/package" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="<%= packages[i].id %>">
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("../partials/footer2") %>