<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>UnApproved KYCS</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Type</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < kycs.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><img alt="image" src="/uploads/<%= kycs[i].image %>" width="35"></td>
                                            <td><%= kycs[i].user.name %></td>
                                            <td><%= kycs[i].user.email %></td>
                                            <td><%= kycs[i].type %></td>
                                            <td><%= kycs[i].createdAt %></td>
                                            <td>
                                                <a href="/view-kycs/<%= kycs[i].id %>" class="btn btn-success btn-pill text-light">View</a>
                                                <a href="javascript:void(0);" class="btn btn-warning btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('approve-kyc').submit();" style="color: aliceblue;">
                                                    Approve
                                                </a>
                                                <form id="approve-kyc" action="/approve-akyc" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="<%= kycs[i].id %>">
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>