<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>
<!-- Main Content -->
div class="container-fluid">

    <div class="main-content">
        <div class="row justify-content-center">
        <div class="alert alert-info alert-dismissible fade show" role="alert" style="max-width: 80%; background-color:#776d6d; color: #ffffff;">
            <strong>Important notice:</strong><span>Please use BTC, DASH, or LTC for purchasing.<br> We are currently working on enabling Credit Card payments in the near future.<br> Thank you!</span>
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
         </div>
</div>
    <div class="row justify-content-center">
        <!-- end col -->
        
  <%= packages.length < 1 ? "No Packages available for now" : "" %>
  <%  for (let i = 0; i < packages.length; i++ ) { %>

    
                <div class="col-md-3">
            <div class="card d-block">
                <div class="card-body text-center">
                    
                    <h5 class="card-title mb-4"><%= packages[i]['name'] %></h5>
                        <h3 class="card-text"><sup>$</sup><%= packages[i]['price'] %>.<sup>00</sup></h3>
                            <hr>
                    <p>Harsh Power =  <%= packages[i]['harsh_power'] %>/Mh/S</p>
                    <hr>
                    <p>Earning =  $<%= packages[i]['dailyEarning'] %> daily</p>
                    <hr>
                                        <p>Plan Duration = <%= packages[i]['duration'] %></p>
                    <hr>
                    <hr>
                                        <p>Withdrawal Limit = <%= packages[i]['withdrawal'] %></p>
                    <hr>
                    <input type="hidden" id="price<%= i %>" value="<%= packages[i]['price'] %>">
                   
                    <a href="javascript: void(0);" class="btn btn-warning" data-toggle="modal" id = "payBtn<%= i %>" data-target="#startNow<%= i %>">Start Now</a>
                                    </div> <!-- end card-body-->
            </div>
        </div>

        <script>
            document.addEventListener('click', function (event) {        
                  // If the clicked element doesn't have the right selector, bail
                  if (!event.target.matches("#payBtn<%= i %>")) return;
                      // Don't follow the link
                      event.preventDefault();
                  // Log the clicked element in the console
            function fetchData(id){
            const statementEl = document.getElementById('statement<%= i %>')
            const value = document.getElementById("price<%= i %>").value
            const url = "https://blockchain.info/tobtc?currency=USD&value="
            const url2 = url+value
            fetch(url2)
                .then(response => response.json())
                .then(data => {
                    const returnMessage = '≈ ' + data + ' BTC'
                    statementEl.append(`Kindly make payment of  ${returnMessage}  to the Bitcoin wallet address below to start your investemt.`)
                    console.log({returnMessage})
                });
            }
            fetchData()
                
                  });
          </script>
      
                <div class="row justify-content-center">


                    <div class="col-md-8">
                        <script async="" src="https://static-v.tawk.to/709/app.js" charset="UTF-8" crossorigin="*"></script><script async="" src="https://embed.tawk.to/5ee795de9e5f694422909abf/default" charset="UTF-8" crossorigin="*"></script><script src="https://kit.fontawesome.com/7328382986.js" crossorigin="anonymous"></script><style media="all" id="fa-v4-font-face">
            </style>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <script src="https://zenithblockchainminers.com/assets/js/sweetalert.min.js"></script>
                                </div>
                </div>
       
                <div class="modal fade" id="startNow<%= i%>" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myCenterModalLabel">Payment for: <%= packages[i]['name'] %></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <center>
                                    <img src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl=1B2GbofYB6Y3D39f4Ag6aDCWJUcxgyRuwC" class="img-fluid">
                                    <p class="text-muted font-16" id="statement<%= i %>"></p>
                                    <h3 class="mb-0">Bitcoin Address</h3>
                                    <input id="walletAddress<%= i %>" class="text-muted font-18 form-control text-center border-0 bg-white" value="1B2GbofYB6Y3D39f4Ag6aDCWJUcxgyRuwC" readonly="">
                                    <p class="text-muted font-13 mt-1">
                                        <button onclick="copyWalletAddress('#copyText')" id = "copyText" class="btn btn-success mr-2">Copy Address</button>
                                        <form action="/investpackage" method="POST">
                                            <input type="hidden" name="idd" value = "<%= packages[i]['id'] %>">
                                            <input type="hidden" name="amount" value = "<%= packages[i]['price'] %>">
                                            <button class="btn btn-info" id="confirmPayment<%= i %>">Confirm Payment</button></p>
                                    </form>
                                       
                                </center>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                            
                                <script>
                                    document.addEventListener('click', (e)=>{
                                        if (!event.target.matches("#confirmPayment<%= i %>")) return;
                                            swal({
                                            icon: 'success',
                                            title: 'Confirmation',
                                            text: 'Please wait while we confirm payment, process may take up to 24 hours.'
                                        })
                                      
                                      
                                    })
                                </script>  
        
        <% } %> 
                          
<%- include("../../partials/user_footer2") %>

<script src="/js/payments.js"></script>

<!-- cryptedge scripts -->
