<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<!-- Main Content -->
<div class="main-content">
   
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Withdrawals</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Amount</th>
                                           
                                            <th>Wallet Name</th>
                                            <th>Wallet Address</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < withdrawals.length; i++ ) { %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= withdrawals[i].amount %></td>
                                            
                                            <td><%= withdrawals[i].wallet_name%></td>
                                            <td><%= withdrawals[i].wallet_address %></td>
                                            <% if(withdrawals[i].status === 0){ %>
                                                <td class="badge badge-danger p-1 mt-2">Unprocessed</td>
                                            <% }else{ %>
                                                <td class='badge badge-secondary p-1 mt-2'>Processed</td>
                                            <% } %>
                                           
                                          
                                            <td><%= withdrawals[i].createdAt %></td>
                                        </tr>
                                        
                                        
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../../partials/user_footer") %>