<!-- header -->
<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>
<!-- Main Content -->
<div class="main-content">
    <%- include("../../partials/alerts") %>
    <section class="section">
        <div class="row ">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
               
            </div>
            
           
            
    </section>

    <section class="section" style="background: #eee; padding: 5%;">

        <div class="row container-fluid">
            <div class="col-lg-12 " style="padding: 2% 7%;">
                
                <input type="text" placeholder="Enter Amount" value="" class="form-control text-center" id="amount"
                    name="amount">
                <input type="hidden" id="user_email" value="<%= email %>">
                <input type="hidden" id="user_phone" value="<%= phone %>">
            </div>
        </div>

        <div class="text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <label for="">Pay with Crypto</label>
                    <button type="button" class="btn btn-dark btn-block btn-lg"
                        onclick="payWithCryptos()">Crypto</button>
                </div>
                <div class="col-lg-4 col-md-6">
                    
                </div>
            </div>

            <!-- arrange the payment platforms into sections
        from paystack, crypto, and deposits -->
    </section>
</div>
<%- include("../../partials/user_footer2") %>

<!-- bitmint scripts -->
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="https://js.paylot.co/v1/inline.min.js"></script>
<script src="/js/payments.js"></script>
</body>

</html>